@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&family=Sansita&display=swap');

body{
  background-color: #111;
}

.App {
  color: #fff;
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 60px;
  font-family: 'Fira Sans', 'sans-serif';
}

h1{
  padding: 1rem;
  margin: 0;
}

/* footer */

 .footer{
  background-color: #fff;
  border-radius: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 15px;
}

.footer:hover{
  background-color: #3f27aa;
}

.cameraPageTag img:hover {
  filter: invert();
}

/* camera component */

video{
  margin-top: 100px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  width: 90%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.closeSaveButtons{
  display: flex;
  flex-direction: row;
}


.result{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  position: fixed;
  top: 0;
  left: 150%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.result.hasPhoto{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas{
  border: 6px solid white;
  width: 90%;
  height: auto;
}


@media screen and (min-width: 668px) {
  video{
    height: 25%;
    width: 25%;
  }
 
  canvas{
    width: 25%;
    height: auto;
  }
}

.saveToGalleryButton{
  transform: rotateY(-180deg);
  -webkit-transform:rotateY(-180deg); /* Safari and Chrome */
  -moz-transform:rotateY(-180deg); /* Firefox */

  appearance: none;
  border: none;
  outline: none;
  
  background-color: transparent;
  background-position: 0%;
  background-size: 200%;
  color: #fff;
  cursor: pointer;
  margin-left: 5em;
}

.saveToGalleryButton:hover{
  color: #775bf3;
}

.buttons-grid{
  display: grid;
  grid-template-columns: 1fr 68px 1fr;
}

.takePhotoButton{
  background-color: transparent;
  grid-column-start: 2;

  position: absolute;
  bottom: 90px;

  appearance: none;
  border: 4px solid #fff;
  border-radius: 90px;
  outline: none;

  padding: 30px;
  
  background-position: 0%;
  background-size: 200%;
  cursor: pointer;
}

.closePhotoButton{
  transform: rotateY(-180deg);
  -webkit-transform:rotateY(-180deg); /* Safari and Chrome */
  -moz-transform:rotateY(-180deg); /* Firefox */

  appearance: none;
  border: none;
  outline: none;
  
  background-color: transparent;
  color: #fff;
  background-position: 0%;
  background-size: 200%;
  cursor: pointer;
}

.closePhotoButton:hover{
  color: #775bf3;
}

.takePhotoButton:hover{
  background-position: 100%;
}

.onOffButton{
  position: absolute;
  bottom: 100px;
  right: 20px;

  appearance: none;
  border: none;
  border-radius: 2px;
  outline: none;

  padding: 8px 12px;
  cursor: pointer;
}

/* camera page */

.backToHomePage{
  position: fixed;
  left: 0;
  margin: 15px;
}

.backBtn{
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

/* gallery page */

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #3f27aa;
  margin: 15px;
  color: #fff;
  border: none;
  border-radius: 9px;
  border: 3px solid black;
}

.delNdownBTN{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deleteButton{
  filter: invert();
  margin-bottom: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.deleteButton:hover{
filter: invert(25%) sepia(94%) saturate(7196%) hue-rotate(7deg) brightness(108%) contrast(133%);
}

.a-tag-wrap .downloadButton{
  filter: invert();
  appearance: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 15px;
}

.a-tag-wrap .downloadButton:hover{
filter: invert(65%) sepia(78%) saturate(3703%) hue-rotate(81deg) brightness(114%) contrast(125%);
}

p{
  font-size: 0.8rem;
}

.imgP{
  margin: 0.5rem;
  text-align: left;
}

.p-card-flex{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 10px;
  padding: 0;
}

.card-grid{
  width: 280px;
  height: 340px;
}

.card-flex{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageStyle{
  border: 6px solid #fff;
  border-radius: 2px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

